<div class="container">
    <h1 class="mt-5 text-center">Jocuri pentru console si PC</h1>

    <div class="container">
        <!-- Items Per Page Selector -->
        <div class="d-flex justify-content-start mt-4 mb-4 align-items-center">
          <label for="productsPerPageSelect">Products per page: </label>
          <div class="ms-2">
            <select id="productsPerPageSelect" class="form-select" ngModel="productsPerPage" (change)="onProductsPerPageChange($event)">
              <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
          <label for="platformFilter" class="ms-2">Platforma:</label>
          <div class="ms-2">
            <select class="form-control" [(ngModel)]="selectedPlatform" (change)="onPlatformChange(selectedPlatform)">
              <option value="">Toate</option>
              <option *ngFor="let platform of platforms" [value]="platform">{{ platform }}</option>
            </select>
          </div>
        </div>
        
        <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
          <div *ngIf="totalProducts > productsPerPage" class="pagination d-flex align-items-center">
            <div class="me-2">
              <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn btn-outline-secondary">Previous</button>
            </div>
            <span class="fs-6">Page {{ currentPage }} of {{ totalPages }}</span>
            <div class="ms-2">
              <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)" class="btn btn-outline-secondary">Next</button>
            </div>
          </div>
        </div>
        
          </div>

          <div class="container mt-4">
            <div class="row justify-content-center" *ngIf="products?.length != 0" >
              <div *ngFor="let product of filteredProducts" class="card m-1" style="width: 18rem">
                <a [routerLink]="['/games','p', product.productId]">
                  <img [src]="product.image" class="card-img-top" alt="..." />
                </a>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title fs-6">{{ product.name | slice:0:130 }}{{product.name.length > 130 ? '...' : ''}}</h5>
                  <div class="mt-auto">
                    <p class="card-text" style="font-weight: 700; color: red">{{ product.price }} Lei</p>
                    <div class="d-flex justify-content-around">
                      <a (click)="goToLink(product.websiteUrl)" class="btn btn-primary">Cumpara</a>
                      <a [routerLink]="['/games','p', product.productId]" class="btn btn-success">Verifica</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          <div *ngIf="products?.length === 0" class="d-flex justify-content-center align-items-center">
            <img src="assets/images/404products.png" alt="404 Not Found" style="max-width:  50%; height: auto;">
          </div>
        
          <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
            <div *ngIf="totalProducts > productsPerPage" class="pagination d-flex align-items-center">
              <div class="me-2">
                <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn btn-outline-secondary">Previous</button>
              </div>
              <span class="fs-6">Page {{ currentPage }} of {{ totalPages }}</span>
              <div class="ms-2">
                <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)" class="btn btn-outline-secondary">Next</button>
              </div>
            </div>
          </div>
        
        </div>
        
</div>