<div class="container">
    <h1 class="mt-5 text-center">Telefoane</h1>

    <div class="container">
        <!-- Items Per Page Selector -->
        <div class="d-flex justify-content-start mt-4 mb-4">
          <label for="productsPerPageSelect">Products per page: </label>
          <div class="ms-2">
            <select id="productsPerPageSelect" ngModel="productsPerPage" (change)="onProductsPerPageChange($event)">
              <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
            </select>
          </div>
        </div>
        
        <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
          <div *ngIf="totalProducts > productsPerPage" class="pagination d-flex align-items-center">
            <div class="me-2">
              <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn btn-outline-secondary">Previous</button>
            </div>
            <span class="fs-6">Page {{ currentPage }} of {{ totalPages }}</span>
            <div class="ms-2">
              <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)" class="btn btn-outline-secondary">Next</button>
            </div>
          </div>
        </div>
        
          </div>
          
        <div class="container mt-4">
          <div class="row justify-content-center" *ngIf="products?.length != 0" >
            <div *ngFor="let product of products" class="card m-1" style="width: 18rem">
              <img [src]="product.image" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title fs-6">{{ product.name }}</h5>
                <p class="card-text">{{ product.price }} Lei</p>
                <a (click)="goToLink(product.websiteUrl)" class="btn btn-primary"
                  >Click aici</a
                >
              </div>
            </div>
          </div>
        
          <div *ngIf="products?.length === 0" class="d-flex justify-content-center align-items-center">
            <img src="assets/images/404products.png" alt="404 Not Found" style="max-width:  50%; height: auto;">
          </div>
        
          <div class="d-flex justify-content-center align-items-center mt-4 mb-4">
            <div *ngIf="totalProducts > productsPerPage" class="pagination d-flex align-items-center">
              <div class="me-2">
                <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn btn-outline-secondary">Previous</button>
              </div>
              <span class="fs-6">Page {{ currentPage }} of {{ totalPages }}</span>
              <div class="ms-2">
                <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)" class="btn btn-outline-secondary">Next</button>
              </div>
            </div>
          </div>
        
        </div>
        
</div>